@import '../style/var';
@import '../style/utils/hairline';

.mee-scalebox {
  position: relative;
  width: var(--scalebox-width, 100%);
  &::after {
    padding-top: var(--scalebox-ratio, 100%);
    content: '';
    display: block;
  }
  > *,
  &__inner {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
